﻿@model Vidly.Models.Movie

@{

    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>


<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Released: @Model.ReleaseDate</li>
    <li>Stock Level: @Model.NumberInStock</li>
    <li>Date Added: @Model.DateAdded</li>
</ul>